- if @cotizations.present?
  -if @cotizations.success?
    %table.table.table-hover.table-striped.mb-0
      %thead
        %tr
          %th Moneda
          %th Precio
          %th Capital + Rendimiento Anual
          %th Capital + Rendimiento Anual Compuesto
      %tbody
        - @cotizations.data.each do |coin|
          %tr
            %td
              .d-flex
                = image_tag asset_path("ic_#{coin[:name].downcase}.png"), style: "height: 45px; widht: 45px;",class: "d-inline"
                %p.d-inline.ms-2
                  = coin[:name]
                  %br
                  = coin[:short_name]
            %td= number_to_currency(coin[:rate], precision: 10)
            %td= number_to_currency(coin[:rate_anual_gain], precision: 10)
            %td= number_to_currency(coin[:rate_anual_gain_compound], precision: 10)
    .row
      .col-6
        .btn.btn-outline-success.w-100{"data-action":"click->visitor#downloadTableAsJson", "data-visitor-info-cotization": @cotizations.data.to_json}
          Descargar Json
      .col-6
        .btn.btn-success.w-100{"data-action":"click->visitor#downloadTableAsCSV", "data-visitor-info-cotization": @cotizations.data.to_json}
          Descargar CSV
  - else
    %p.bg-danger.mb-0
      = @cotizations.errors
      %br
      Por favor espera unos momentos y vuelve a intentarlo de nuevo. Gracias